<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin-panel.css') }}"
    />

    <title>CHT | KAC</title>


    <script src="{{ url_for('static', filename='js/global/cloaker.js') }}"></script>

    <script src="{{ url_for('static', filename='js/admin/main.js') }}" defer></script>
</head>
<body>
    <div class="main-container">
        <div class="title">
            <h1>KAC CHT | Admin Panel</h1>
        </div>
        <div class="row_container">
            <div id="usersList" class="section_container"> <!-- Added section_container class for consistent styling -->
                <button id="refreshBtn">Refresh List</button>
                <ul>
                    <!-- User list items would go here -->
                </ul>
            </div>
            <div class="section_container">
                <h1>Select users to perform an action.</h1>
                <button id="kickBtn">Kick User(s) off (Logs them out)</button>
                <button id="muteBtn">Mute User(s)</button>
                <button id="unmuteBtn">Unmute User(s)</button>
                <h1 style="margin-top: 2rem;"> <b><i>WARNING!</i></b> These following commands are VERY Dangerous, and irreversable (for now)</h1>
                <button id="1dayBanBtn"><b>1 day</b> Ban User(s)</button>
                <button id="1weekBanBtn"><b>1 week</b> Ban User(s)</button>
                <button id="IPBanBtn"><b>Perma / IP</b> Ban User(s)</button>
                <h1>Troll commands</h1>
                <button id="jumpscareBtn"><b>Jumpscare</b> User(s)</button>
                <button id="crashBtn"><b>Crash</b> User(s) chromebook</button>
                <span id="successMessage" style="display: none;"></span>
                <span id="failMessage" style="display: none;"></span>

            </div>
        </div>
        <div class="row_container">
            <div class="section_container">
                <h1>Global commands</h1>
                <button id="resetChatBtn"><b>Reset</b> the chat history</button>
                <button id="reloadAllUsersBtn"><b>Reload</b> all users</button>
                <button id="cloakAllUsersBtn"><b>Cloak</b> all users</button>
                <button id="refreshBanListBtn"><b>Sync</b> all bans from DB</button>
                <button id="resetBotHistoryBtn"><b>Reset</b> KAC-Bot's memory</button>

            </div>
            <div class="section_container">
                <h1>Messages</h1>

                <!-- System Message Form -->
                <form id="systemMessageForm">
                    <div class="input-group">
                        <input type="text" id="systemMessageInput" placeholder="Send a system message">
                        <button type="submit">Send</button>
                    </div>
                </form>

                <form id="pinnedMessageForm">
                    <div class="input-group">
                        <input type="text" id="pinnedMessageInput" placeholder="Set a pinned message">
                        <button type="submit">Set</button>
                    </div>
                </form>

                <h1 style="margin-top: 2rem;">Send a message as a user</h1>
                <!-- User Message Form -->
                <form id="userMessageForm">
                    <div class="input-group">
                        <input type="text" id="userMessageNameInput" placeholder="Username for message">
                        
                        <input type="text" id="userMessageContentsInput" placeholder="Message">
                        <button type="submit">Send</button>
                    </div>
            </div>
            
        </div>
        <div class="row_container">
            <div class="section_container" style="height: 30vh;">
                <h1>Chat Preview</h1>
                <iframe id="chatPreview" style="width: 100%; height: 80%;"></iframe>
            </div>
        </div>
    </div>
</body>
</html>