<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chatroom.css') }}"
    />
    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@jitbit/htmlsanitizer@latest/HtmlSanitizer.min.js"></script>
    <script src="{{ url_for('static', filename='js/chatroom.js') }}" defer></script>
    <title>CHT | KAC</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="form" action="">
      <div id="typing" style="display: none;"></div>
      <button id="openFile" type="button" />
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;">
          <path d="M15 8h.01"></path>
          <path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5"></path>
          <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l4 4"></path>
          <path d="M14 14l1 -1c.67 -.644 1.45 -.824 2.182 -.54"></path>
          <path d="M16 19h6"></path>
          <path d="M19 16v6"></path>
        </svg>
      </button>
      <input type="file" id="fileInput" style="display: none;" accept="image/*" />
      <input id="input" autocomplete="off" placeholder="Type Here"/><button type="submit">Send</button>
    </form>
  </body>
</html>
