<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chatroom.css') }}"
    />
    <script
      src="https://cdn.socket.io/4.8.1/socket.io.min.js"
      integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/@jitbit/htmlsanitizer@latest/HtmlSanitizer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/emoji-js/3.8.1/emoji.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/lib/marked.umd.js"></script>

    <script src="{{ url_for('static', filename='js/global/cloaker.js') }}" defer></script>

    <!-- <script src="{{ url_for('static', filename='js/chatroom/main.js') }}" defer></script> -->

    <script src="{{ url_for('static', filename='js/chatroom/utils.js') }}" defer></script>
    
    <script src="{{ url_for('static', filename='js/chatroom/ui.js') }}" defer></script>

    <script src="{{ url_for('static', filename='js/chatroom/socket.js') }}" defer></script>

    <script src="{{ url_for('static', filename='js/chatroom/main.js') }}" defer></script>
    <title>CHT | KAC</title>
  </head>
  <body data-nickname="{{ nickname }}">
    <ul id="messages"></ul>
    <form id="form" action="">
      <div id="typing" style="display: none;"></div>
      <button id="openDM" type="button" title="Send Direct Message">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2">
          <path d="M21 15a2 2 0 0 1 -2 2h-10l-4 4v-14a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v8z"></path>
          <path d="M9 10h.01"></path>
          <path d="M12 10h.01"></path>
          <path d="M15 10h.01"></path>
        </svg>
      </button>
      <button id="openFile" type="button" >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: currentColor;">
          <path d="M15 8h.01"></path>
          <path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5"></path>
          <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l4 4"></path>
          <path d="M14 14l1 -1c.67 -.644 1.45 -.824 2.182 -.54"></path>
          <path d="M16 19h6"></path>
          <path d="M19 16v6"></path>
        </svg>
      </button>
      <input type="file" id="fileInput" style="display: none;" accept="image/*" />
      <input id="input" autocomplete="off" placeholder="Type Here"/><button type="submit">Send</button>
    </form>
    <!-- <div id="imageOption"> -->
      <!-- HTML -->
  <div id="imageOption">
    <div id="imageOptionInner">
      <img id="imagePreview" />
      <label>
        <input type="checkbox" id="botCheckbox" />
        Ask KAC-Bot about this image?
      </label>
      <input type="text" id="botQuestion" placeholder="Enter question for KAC-Bot" autocomplete="off" style="display: none;"/>
      <div class="controls">
        <button id="sendImage">Send</button>
        <button id="cancelUpload">Cancel</button>
      </div>
      <!-- <progress id="uploadProgress" value="0" max="100" style="display: none;"></progress> -->
    </div>
  </div>

      <!-- <img id="imagePreview" />
      <input type="checkbox" id="botCheckbox" />
      <input type="text" id="botQuestion" placeholder="Enter question for bot" />
      <button id="sendImage">Send</button>
      <button id="cancelUpload">Cancel</button>
      <progress id="uploadProgress" value="0" max="100" style="width: 100%; vertical-align: middle;"></progress>
    </div> -->
  </body>
</html>
